@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.orang {
    color: #FF900E;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    font-weight: 400;
    font-size: 1rem;
}

/* header styles */

/* nav styles */

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-discripsion {
    font-size: 1rem;
    font-weight: 400;
}

.banner-img {
    width: 100%;
}

/* your features section styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content {
    max-width: 530px;
    margin-left: 130px;
}

#quick-list {
    font-weight: 500;
}

/* facts styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #FF900E;
}

.fact-description {
    width: 540px;
    margin-bottom: 100px;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* responsive layout */
@media screen and (max-width:576px) {

    .navbar,
    .banner,
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        margin-left: 20px;
    }
}

/* medium device responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .team-content {
        margin: 0 auto;
    }
}